<!-- /mobile/www/templates/login.html -->
<ion-view view-title="MetroKardma" hide-back-button="true">
  <ion-content scroll="false" class="big-container">
  <div class="bar bar-subheader">
    <h3 class="title">Total Kardma: {{swiperSwipeeChoiceCtl.curUserKardmaCount}}</h2>
  </div>
    <div class="content-container">
      <button class="button button-block button-balanced" ng-click="swiperSwipeeChoiceCtl.setRoleAndGoToMap('swipee')">
        I Need a Swipe
      </button>
      <button class="button button-block button-dark" ng-click="swiperSwipeeChoiceCtl.setRoleAndGoToMap('swiper')">
        I Have a Swipe
      </button>

  </div>
  </ion-content>
</ion-view>
