<!-- /mobile/www/templates/login.html -->
<ion-view view-title="MetroKardma" hide-back-button="true" style="background-color: yellow;">
  <ion-content class="swiperSwipeechoice padding">
    <div> My total Kardma: {{swiperSwipeeChoiceCtl.curUserKardmaCount}}</div>

    <div style="top: 30%; position: absolute !important;margin:0 auto;width:100%;">
      <button class="button button-block button-positive" ng-click="swiperSwipeeChoiceCtl.setRoleAndGoToMap('swipee')">
        I Need a Swipe
      </button>
      <button class="button button-block button-positive" ng-click="swiperSwipeeChoiceCtl.setRoleAndGoToMap('swiper')">
        I Have a Swipe
      </button>
    </div>
  </ion-content>
</ion-view>
