<ion-modal-view style="width: 100%; height: 20%; top: 25%; bottom: 55%;">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{station.name}} ({{station.lines}})</h1>
  </ion-header-bar>



    <ion-content class="padding">
      <div ng-if="role == 'swipee'" class="list">
        <div class="item item-body">
        <p ng-show="{{station.exchanges_needing_swipee.length == 0}}">Nobody is waiting to provide a swipe at this station</p>
        <p ng-repeat="exchange in station.exchanges_needing_swipee">
          <exchange-waiting exchange="exchange" waiter="exchange.swiper" hide-modal="hideModal()"></person-waiting>
        </p>
      </div>
      <button class="btn btn-danger" ng-click="checkForExchangesAndCreate()">Request Swipe at this station</button>
    </div>

    <div ng-if="role == 'swiper'" class="list">
        <div class="item item-body">
            <p ng-show="{{station.exchanges_needing_swiper.length == 0}}">Nobody is waiting for a swipe at this station</p>
            <p ng-repeat="exchange in station.exchanges_needing_swiper">
              <exchange-waiting exchange="exchange"waiter="exchange.swipee" hide-modal="hideModal()"></person-waiting>
            </p>
        </div>
        <button class="btn btn-danger" ng-click="checkForExchangesAndCreate()" >Provide a Swipe at this Station</button>
      </div>
    </ion-content>


</ion-modal-view>