<div class="list card">
  <div class="item item-divider">{{station.name}}</div>
  <div class="item item-body">
    <p ng-show="{{station.exchanges_needing_receiver.length == 0}}">Nobody is waiting to provide a swipe at this station</p>
    <p ng-repeat="exchange in station.exchanges_needing_receiver">
    {{exchange.giver.email}}
  </p>
  </div>
  <a ui-sref="tab.dash.pending({role: '{{role}}', stationName: '{{station.name}}', stationId: '{{station.id}}'})">
    <button class="btn btn-danger" >Request Swipe at this station</button>
  </a>
</div>