<ion-view view-title="Chats">
  <ion-nav-buttons side="right">
    <button class="button"
            ng-click="chatsCtl.SwiperSwipeeRole.toggleRole()">
      {{ chatsCtl.SwiperSwipeeRole.currentRole | titleCase }}   <i class="icon ion-card"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>

      <!--
      you can always use this as a simple debug of the controller's data
      {{ chatsCtl | json }}
      -->
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="user in chatsCtl.allUsers | filter:{ id: '!' + chatsCtl.currentUser } track by user.id"
                type="item-text-wrap"
                ng-click="chatsCtl.findOrInitiateChat(user.id)">
        <h2>{{user.first_name}}</h2>
        <p>{{user.last_name}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
