<div class="list card">
  <div class="item item-divider">{{station.name}}</div>
  <!-- <div class="item item-body">
    <p ng-show="{{station.exchanges_needing_giver.length == 0}}">Nobody is waiting at this station</p>
    <p ng-repeat="exchange in station.exchanges_needing_giver">
    {{exchange.receiver.email}}
  </p>
  </div>
  <a ui-sref="tab.dash.swiper.pending">
    <button class="btn btn-danger" >Provide a Swipe at this Station</button>
  </a> -->
  <div class="item item-body">
    <p ng-show="{{station.exchanges_needing_giver}}">Hello </p>
  <div>
</div>