  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{station.name}} ({{station.lines}})</h1>
  </ion-header-bar>


    <ion-content class="padding">
      <div class="list">
          <div class="item item-body">
            <p ng-show="{{station.exchanges_needing_swiper.length == 0}}">Nobody is waiting for a swipe at this station</p>
            <p ng-repeat="exchange in station.exchanges_needing_swiper">
              <person-waiting waiter="exchange.swipee"></person-waiting>
            </p>
        </div>
        <button class="btn btn-danger" ng-click="checkForExchangesAndCreate()" >Provide a Swipe at this Station</button>
      </div>
    </ion-content>
</ion-modal-view>