<ion-modal-view style="width: 100%; height: 20%; top: 25%; bottom: 55%;">
  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">{{stationCtl.station.name}} ({{stationCtl.station.lines}})</h1>
    <button class="button button-clear button-primary" ng-click="modal.remove()" ui-sref="tab.map">X</button>
  </ion-header-bar>


    <ion-content class="padding turnstile">
    <div class="item item-body" ng-repeat="exchange in stationCtl.stationPendingExchanges">
          <exchange-directive exchange="exchange"></exchange-directive>
      </div>
      <button class="button request" ng-click="stationCtl.makeRequest()" ng-switch="stationCtl.role"><span ng-switch-when="swiper">Provide Swipe</span><span ng-switch-when="swipee">Request Swipe</span></button>
    </ion-content>

</ion-modal-view>