<ion-modal-view style="width: 100%; height: 20%; top: 25%; bottom: 55%;">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{stationCtl.station.name}} ({{stationCtl.station.lines}})</h1>
  </ion-header-bar>

    <ion-content class="padding">
    <div class="item item-body">
        <p ng-show="{{stationCtl.stationPendingExchanges.length == 0}}">Put an Ng-switch to show no one is waiting</p>
        <p ng-repeat="exchange in stationCtl.stationPendingExchanges">
          <exchange-directive exchange="exchange" hide-modal="stationCtl.hideModal()"></exchange-directive>
        </p>
        <button class="btn btn-danger" ng-click="stationCtl.makeRequest()">Put an ng-switch here</button>
      </div>
    </ion-content>
</ion-modal-view>