<ion-view view-title="Dashboard">
  <ion-content class="padding">

      <div id="map" data-tap-disabled="true"></div>

      <ion-nav-view name="tab-dash-station"></ion-nav-view>
   <!--    <div class="list card" ng-repeat="station in dashCtl.stations">
      <div class="item item-divider">{{station.name}}</div>
      <div class="item item-body">
        <div>
          Id: {{station.id}}
          <ul ng-repeat="exchange in station.pending_exchanges">
            Swipees Waiting:
            <ul ng-show="exchange.receiver">{{exchange.receiver.email}}</ul>
            Swipers Waiting:
            <ul ng-show="exchange.giver">{{exchange.giver.email}}</ul> -->
          <!-- <ui-gmap-google-map center='dashCtl.map.center' zoom='dashCtl.map.zoom'></ui-gmap-google-map>
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
